# See http://help.github.com/ignore-files/ for more about ignoring files.  
  
# compiled output  
/dist  
/tmp  
/out-tsc
/.angular/cache/15.2.5/angular-webpack/96f790e0362da6ea7108e098761c1e8bd631cbfc/11.pack
/.angular/cache/15.2.5/angular-webpack/5b68c0b1147bbde1297fc72e3fceadb0801706ec/14.pack
/.angular/cache/15.2.5/angular-webpack/5b68c0b1147bbde1297fc72e3fceadb0801706ec/8.pack
/.angular/cache/15.2.5/angular-webpack/832cf15964310fe72a07eac640e7c37b8d23b647/10.pack

# dependencies  
/node_modules  
  
# IDEs and editors  
/.idea  
.project  
.classpath  
.c9/  
*.launch  
.settings/  
*.sublime-workspace  
  
# IDE - VSCode  
.vscode/*  
!.vscode/settings.json  
!.vscode/tasks.json  
!.vscode/launch.json  
!.vscode/extensions.json  
  
# misc  
/.sass-cache  
/connect.lock  
/coverage  
/libpeerconnection.log  
npm-debug.log  
yarn-error.log  
testem.log  
/typings  

# e2e
/e2e/*.js
/e2e/*.map
  
# System Files  
.DS_Store  
Thumbs.db